*{box-sizing: border-box;}
a{
    text-decoration: none;
}
body{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
    /*HEADER*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
    background-color: black;
    color: white;
}
    /*NAV*/
nav{
    display: flex;
    background-color: gray;
}
nav > a{
    margin: 5px;
    padding: 3px;
    background-color: black;
    color: white;
}
nav > a:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}
/*WRAPPER*/
#wrapper{
    display: flex;
    justify-content: space-between;
}
    /*MAIN*/
main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: beige;
}
main > article{
    padding: 3px;
}

    /*ASIDE*/
aside{
 display: none;
}
    /*FOOTER*/
footer{
    height: 70px;
    display: flex;
    background-color: gray;
    justify-content: space-between;
    align-items: center;
}

/*Change for DESKTOP VERSION*/
@media screen and (min-width: 480px) {
   /*ASIDE*/
    aside{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: gray;
    }
    aside > article{
        margin: 5px;
        display: flex;
        flex-direction: column;
        background-color: silver;
    }

    /*MAIN*/
    main{
        width: 70%;
    }
    main > article{
        min-width: 250px;
        max-width: 48%;
    }
}